//用户管理
.table-wrapped {
	padding: 8px;
	height: calc(100vh - 101px);
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	.table-top {
		
		.table-header {
			padding: 0 24px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 48px;
			background-color: #fff;
			
			.left-wrapped {
				display: flex;
				
				.search-wrapped {
					margin-right: 24px;
				}
			}
			
			.el-input__wrapper{
				height: 32px;
				padding: 0 15px;
			}
		}
	}
	
	.table-footer {
		display: flex;
		justify-content: flex-end;
	}
}